<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Capitals Checker</title>
  <style>
  html, body {
      height: 100%;
  }

  html {
      display: table;
      margin: auto;
  }

  body {
      display: table-cell;
      vertical-align: middle;
      background-color: gray;
  }
  </style>
</head>
<body>
<div>
  {{if .City}}
  <table>
  <tr>
  <td>
  <h1>The capital of {{.Country}} is {{.City}}   <img style="background:white;margin:10px" width="110" height="80" src="{{.Flag}}" alt="Red dot" /></h1>
  {{else}}
  <h1>I don't know {{.Country}}'s capital!</h1>
  {{end}}
  </td>
  </tr>
  <tr>
  <td>
    <form method="POST" action="/">
            <label>Country Name</label><input name="name" type="text" value="" autofocus/>
            <label>City Name</label><input name="city" type="text" value="" />
            <input type="submit" value="submit" />
        </form>
  </td>
  </tr>
  <tr>
  <td>
      <iframe width="900px" height="850px" id="gmap_canvas" src="https://maps.google.com/maps?q={{.City}}&t=&z=7&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </td>
  <tr>
  </table>
  </table>
</div>
</body>
</html>
