.greentext
{
  color:green;
}

.redtext
{
  color:red;
}

.bluetext
{
  color:blue;
}

.tablestyle
{
  table-layout: fixed; width: 100%;
}

.cellstyle
{
  vertical-align: top;word-wrap: break-word;
}

.greyBack
{
  background:lightGray;
}

.whiteBack
{
  background:white;
}
