<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='humanity.css') }}">
  <title>
    Textensor Details
  </title>
</head>
<body  onload=' location.href="#todaymonth" '>
<!--  <h2>People off today. </h2>
  <h3>Out of Office</h3>
  <ul>
    {% for item in outoffice %}
      <li>{{ item['employee_name'] }}'s status is {{item['leave_type_name']}} today</li>
    {% endfor %}
  </ul>
  <h3>On Vacation</h3>
  <ul>
    {% for item in vacation %}
      <li>{{ item['employee_name'] }}'s status is {{item['leave_type_name']}} today</li>
    {% endfor %}
  </ul>
  <h3>Other</h3>
  <ul>
    {% for item in other %}
      <li>{{ item['employee_name'] }}'s status is {{item['leave_type_name']}} today</li>
    {% endfor %}
  </ul>
-->
  <h1>This is now the Calendar table </h1>
  {% for key, item in dataMap.items() %}
  {% if key == currMonth %}
    <h2 id="todaymonth">{{key}}</h2>
  {% else %}
    <h2>{{key}}</h2>
  {% endif %}
    <p><span class="bluetext">Blue: Out of Office</span>,
    <span class="redtext">Red: Sick Leave</span>,
    <span class="greentext">Green: Vacation</span>,
    <span class="blacktext">Black: Other</span>
    </p>
    <table class="tablestyle" border=1>
    {% for row in item |batch(8, ' ')%}
    <tr>
      {% for data in row %}
      {% set number = currDay | int %}
      {% set number2 = data[0][0]  | int %}
      {% if key == currMonth and number2 == number %}
      <td class="cellstyle greyBack">
      {% else %}
      <td class="cellstyle whiteBack">
      {% endif %}
      <table class="tablestyle">
      <tr><td class="cellstyle cellheader"><strong>{{data[0][0]}} {{data[0][1]}}</strong><br/></td></tr>
      <tr><td class="cellstyle">
      {% for user in data[1] %}
          {% if user['leave_type_name'] == 'Out of Office' %}
          <span class="bluetext">{{user['employee_name']}}</span><br/>
          {% elif user['leave_type_name'] == 'Sick Leave' %}
          <span class="redtext">{{user['employee_name']}}</span><br/>
          {% elif user['leave_type_name'] == 'Vacation' %}
          <span class="greentext">{{user['employee_name']}}</span><br/>
          {% else %}
          <span class="blacktext">{{user['employee_name']}}</span><br/>
          {% endif %}
        {% endfor %}
      </td></tr></table>
    </td>
    {% endfor %}
    </tr>
    {% endfor %}
    </table>
  {% endfor %}
</html>
